*{
  margin: 0%;
  padding: 0%;
}
.rece_mesg {
  background-color: #800080;
  color: white;
  width: 40%;
  position: relative;
  top: 30px;
  margin-left: 12%;
  bottom: 20px;
  border-radius: 10px;
  padding: 5px ;
}
@media screen and (max-width: 900px) {
.rece_mesg {
  
  width: 50%;
  }
}
.sen_mesg {
  background-color: #800080;
  color: white;
  width: 40%;
  margin-left: 56%;
  position: relative;
  top: 30px;
  bottom: 50px;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  right: 30px;
}
@media screen and (max-width: 900px) {
  .sen_mesg {
    margin-left: 45%;
    width: 50%;
    }
  }
#main_home {
  /* width: 100%;
    height: 600px; */
    background-image: url(./images/signimg.jpg );
  background-repeat: no-repeat;
  background-size: auto;
  width: 50%;
  height: 650px;
  margin: auto;
  background-position: center;
  border-radius: 30px;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  #main_home {
    width: 100%;
    border-radius: 0px;
    height: 600px;
  }
}
.btn_sec {
  width: 200px;
  height: 40px;
  position: relative;
  margin: auto;
  top: 200px;
}
.btn_start {
  padding: 20px ;
  width: 170px;
  background-color: blueviolet;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'DynaPuff', cursive;
}

.btn_start:hover{
  
  background-color: #800080;

}
.input_sec {
  width: 49%;
  height: 50px;
  background-color: #800080;
  padding: 15px 07px 15px 7px;
  margin: auto;
  /* border-radius: 10px; */
}
@media screen and (max-width: 800px) {
  .input_sec {
    width: 100%;
    padding: 0px;
    height: 60px;
 
  }
}
.text_input {
  padding: 10px 5px 10px 5px;
  width: 80%;
  border: none;
  border-radius: 10px;
  background-color: #dda0dd;
  margin-left: 05px;
  
}
/* @media screen and (max-width: 800px) {
  .text_input {
    margin-left: 1%;
  }
} */
#fixed {
  position: fixed;
}
.mesg_container {
  background-image: url(./images/signimg.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  width: 50%;
  height: 540px;
  margin: auto;
  background-position: center;
  /* border-radius: 30px; */
  background-size: cover;
  overflow: scroll;
  padding-bottom: 40px;
 
}
@media screen and (max-width: 800px) {
  .mesg_container {
    width: 100%;
    /* height: 600px; */
    border-radius: 0px;
    
  }
}
@media screen and (max-width: 800px) {
  body {
    background-image: none;
  }
}
.send_icon {
  background-color: #800080;
  border: none;
  position: relative;
  top: 10px;
  margin-left: 10px;
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}
.sec_1{
width: 200px;
margin: auto;
position: relative;
top: 180px;

}

.signup_main {
  background-image: url(./images/signimg.jpg );
  background-repeat: no-repeat;
  background-size: auto;
  width: 50%;
  height: 670px;
  margin: auto;
  background-position: center;
  border-radius: 30px;
  background-size: cover;
}
.form_signup{
  width: 60%;
  margin: auto;
  position: relative;
  top: 20px;
}
@media screen and (max-width: 800px) {
  .signup_main {
    width: 100%;
    border-radius: 0px;
    height: 620px;
  }
}
@media screen and (max-width: 800px) {
  .form_signup {
    width: 80%;
 
  }
}
body {
  margin: 0px;
  padding: 0px;
  /* background-image: linear-gradient(#000000, #923cb5); */
}
#sub_btn{
  background-color: #923cb5;
  color: white;
}
#sub_btn:hover{
  background-color: #800080;
}
#goto_account{
  color: white;
  font-weight: bold;
}
.link_account{
  margin-left: 2%;
  color: #fff;
}
.headg_{
  text-align: center;
  position: relative;
  /* top: 10px; */
  color: #800080;
  font-family: 'DynaPuff', cursive;
}
.logo{
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  top: 20px;
}
.wlc_page{
  text-align: center;
  position: relative;
  top: 100px;
  color: #800080;
  font-size: 40px;
  font-family: 'DynaPuff', cursive;
}
@media screen and (max-width: 800px) {
  .wlc_page {
    font-size: 30px;
 
  }
}
.Chat_logo{

background-color: #800080;
position: fixed;
width: 50%;
height: 60px;
z-index: 100;

}
@media screen and (max-width: 800px) {
  .Chat_logo {
    width: 100%;
 
  }
}
.logout{
 width: 50px;
height: 50px;
margin-right: 15px;

  position: relative;
  top: 10px;
  float: right;
  border: none;
  cursor: pointer;

  
}
.del_btn{
 cursor: pointer;
}
.prof_pic{
  width: 35px;
  height: 35px;
  border-radius: 10px;
}
.username{
  position: relative;
  bottom: 10px;
  margin-left: 10px;
  font-family: 'JetBrains Mono', monospace;
}
.text_mesg{
  margin-left: 10px;
  font-family: 'JetBrains Mono', monospace;
}
.like{
  float: right;
  position: relative;
  bottom: 20px;

}
.like_emoji{
  width: 20px;
  height: 20px;
cursor: pointer;
}
.sad_emoji{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.del{
  float: right;
  cursor: pointer;
}
.date{
  float: right;
  font-size: 10px;
  font-family: 'DynaPuff', cursive;
}

.time{
  font-size: 10px;
  /* position: relative;  */
  /* bottom: 20px; */
  float: left;
  /* font-family: 'DynaPuff', cursive; */
  
}
.img{
  position: fixed;
  margin-top: 80px;
  margin-left: 10px;
z-index: 100;
}
@media screen and (max-width: 800px) {
  .imgIcon {
 width: 50px;
 height: 50px;
 
  }
}
.imgIcon {
  width: 50px;
  height: 50px;
  margin-left: 8px;
  cursor: pointer;
  z-index: 100;
  
   }
.loader {
  border: 10px solid #dda0dd;
  border-radius: 50%;
  border-top: 10px solid #800080;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: relative;
  bottom: 40px;
  margin-right: 10px;
z-index: 100;
}
#loader{
  display: none;
}
@media screen and (max-width: 800px) {
  .loader {
 width: 50px;
 height: 50px;
 
  }
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#uploadarrow{
display: none;
position: relative;
bottom: 30px;
cursor: pointer;
}
.arrow{
  background-color: #800080;
  border-radius: 10px;
  border: none;
  z-index: 100;
}

@media screen and (max-width: 900px) {
  .arrowImg{
  width: 50px;
  height: 50px;
    }
  }
.recImg{
  background-color: #800080;
  color: white;
  width: 40%;
  position: relative;
  top: 30px;
  margin-left: 12%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 5px ;
  padding-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .recImg{
    width: 50%;
  
    }
  }
.sendImg{
  background-color: #800080;
  color: white;
  width: 40%;
  margin-left: 56%;
  position: relative;
  top: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  right: 30px;
  padding-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .sendImg{
    margin-left: 46%; 
  width: 50%;
    }
  }
.showImgfrnt{
  width: 90%;
  height:200px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 7px;
}

.arrow {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}